---
interface Props {
  platform: Platform
}
import type { Platform } from '../data/integrations'

const { platform } = Astro.props

function getLogoSize(platformName: string) {
  const logoName = platformName.toLowerCase()
  switch (logoName) {
    case 'lumen':
      return '30'
    case 'koa':
    case 'rails':
      return '100'
    case 'node':
      return '50'
    case 'fastify':
    case '.net core':
    case 'django':
      return '70'
    default:
      return '60'
  }
}
---

<div>
  <img
    src={platform.logo}
    width={getLogoSize(platform.name)}
    loading="lazy"
    alt={platform.name}
  />

  <p><a href={platform.link}>{platform.name}</a></p>
</div>

<style>
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  a {
    color: var(--color-base-black);
    text-decoration: none;
    transition: all 500ms;
  }
  a:hover {
    text-decoration: underline;
  }
</style>
